/* Font Family */

@font-face {
    font-family: "Young Serif";
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: "Young Serif";
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf'); /* IE9 Compat Modes */
  }



/* Reset */
  *, *:before, *:after {
    box-sizing: border-box;
  }

  body, h1, h2, h3, h4, h5, h6, p, span{

    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: inherit; 
  }
  
  img {
    max-width: 100%;
    height: auto;
    

  }
  
  /*  */


  body {
    font-family: "Outfit", sans-serif;
    color: #5F564D;
    line-height: 150%;
  }

  section {
    background-color: #FFF;
  }
  
  main {
    padding: 2em;

  }
h1 {
    font-family: "Young Serif", serif;
    font-size: 2.25rem;
    color: #312E2C;
    margin-bottom: .67em;
    line-height: 2.25rem;
  }

  .hero > p {
    margin-bottom: 1.5em;
  }

  .prep {
    background-color: #FFF7FB;
    border-radius: .75rem;
    padding: 1.5em;
    margin-bottom: 2em;
  }

  .prep h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #7A284E;
  }

  .prep li::marker {
    color: #7A284E;
  }

  .prep span {
    /* padding-left: 1rem; */
    font-weight: bold;
  }

  .prep li {
    margin-bottom: .5em;
    padding-left: 1rem;
  }

  h2 {
    color: #854632;
    font-size: 1.75rem;
    margin-bottom: .85em;
    font-family: "Young Serif", serif;
  }

  ul, ol {
   margin-left: 1rem;
    padding-left: 0;
}

li {
  margin-bottom: .5em;
  padding-left: 1rem;
}

li::marker {
  color: #854632;
    font-weight: bold;
}

.ingredients {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #E3DDD7;
}

.instructions {
  margin-top: 2em;
  border-bottom: 1px solid #E3DDD7;
  padding-bottom: 1.5em;
}

.nutrition {
  margin-top: 2em;
  padding-bottom: 1.5em;
}

.nutrition p {
  margin-bottom: 1.5em;
}

/* Table Styling */

table {
  width: 100%;
  border-collapse: collapse; 
}

td{
  padding: .75em 0;
}

td + td {
 color: #854632;
 font-weight: bold;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border-bottom: 1px solid #E3DDD7;
}

tr:last-child {
  border: none;
}

.omelette-desktop {
  display: none;
}


@media screen and (min-width: 900px) {
  main {
    background-color: #FFF;
    max-width: 800px;
    border-radius: 1.5em;
  }

  body {
    background-color: #F3E5D7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.5em 0;
  }

  .omelette-mobile {
    display: none;
  }

  .omelette-desktop {
    display: block;
    margin-bottom: 2.5em;
    border-radius: .75rem;

    }

    h1 {
      font-size: 2.5rem;
    }
  }

  
